<html xmlns:th="http://www.thymeleaf.org" lang="eng">
    <head>
        <title>Payment Form</title>
        <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/card-form.js}"></script>
    </head>
    <body>
        <h1>Enter card details</h1>
        <div class="container">
            <form id="paymentForm" th:attr="data-payment-id=${paymentId}, data-merchant-id=${merchantId}">
                <div class="field">
                    <label for="cardNumber">Card Number:</label>
                    <input type="text" id="cardNumber" name="cardNumber" required>
                </div>
                <div class="field">
                    <label for="cardHolderName">Cardholder name:</label>
                    <input type="text" id="cardHolderName" name="cardHolderName" required>
                </div>
                <div style="display: flex">
                    <div class="field">
                        <label>Expiration Month:</label>
                        <input type="number" id="expirationMonth" name="expirationMonth" required>
                    </div>
                    <div class="field">
                        <label>Expiration Year:</label>
                        <input type="number" id="expirationYear" name="expirationYear" required>
                    </div>
                </div>
                <div class="field">
                    <label for="cvv">CVV:</label>
                    <input type="password" id="cvv" name="cvv" required>
                </div>
                <button type="button" id="submitPaymentButton">Submit Payment</button>
            </form>
        </div>
    </body>
</html>
